{% extends "base.html" %}
{% block title %}作品集{% endblock %}
{% block content %}
<h2>Image Archive</h2>
<div class="archive">
    {% for i in range(1, 7) %}
        <div class="fade-in">
            <a href="#placeholder">
                <img src="{{ url_for('static', filename='images/archive/archive' ~ i ~ '.jpg') }}" alt="Archive Image {{ i }}">
            </a>
        </div>
    {% endfor %}
</div>


<script>
    const observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.add('visible');
            }
        });
    });

    document.querySelectorAll('.fade-in').forEach(element => observer.observe(element));
</script>
{% endblock %}
